/*Golden ratio ϕ = 1.618...

/*Start global*/
*{
    margin: 0;    /*apply all 4 sides*/
    padding: 0;
    box-sizing: border-box;    /*element's padding + border are included in the width and height*/
    /*border: 1px solid black;   /*  layout testing hsl(178, 62%, 39%) #DAF7A6, #900C3F */
}

html{
    font-size: 10px;    /*1.0rem = 10px */
    font-family: 'Century Gothic', sans-serif;
    color: #EEEEEE;
}

body{
    font-size: 1.618rem;
    width: 100%;
    height: 100%;
    background-color: hsl(178, 62%, 39%);
    /*background-image: url("images/sakura-_LHf-WzBYpo-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center fixed;*/
}

section{
    padding: 15rem 0;
}

a{
    text-decoration: none;
    color: #EEEEEE;
}

li{
    margin: 0 1.618rem;
}

p{
    font-size: 1.618rem; /*rem: Relative to font-size of the root element*/
    font-weight: 300;
}

img{
    display: block;
}
/*End global*/


/*Start reusable*/
.container{
    width: 90%;
    max-width: 161.8rem;
    height: 100%;
    margin: 0 auto;    /*first apply top/bottom & second apply left/right*/
    position: relative; /*element is positioned relative to its normal position.*/
}

.section-heading{
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 3.236rem;
}
.section-heading h1{
    font-size: 3.236rem;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    margin-bottom: 1rem;
}
.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -0.6rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75)
}
.section-heading h1::before{
    width: 22rem;
    height: 3px;
    border-radius: 0.8rem;
}
.section-heading h1::after{
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    bottom: -1rem;
}
.section-heading h6{
    font-size: 1.618rem;
    font-weight: 300;
}

.section-img img{
    width: 45%;
    height: 54%;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.has-margin-right{
    margin-right: 5rem;
}

/*End reusable*/

/*Start header*/
header{
    width: 100%;
    height: 100vh;
}

.nav{
    width: 100%;
    height: 100vh;
    position: relative;
    top:-100vh; /*hide the nav*/
    z-index: 100; /*specify the stack order of an element higher value alway in front of lower value*/
    background-color: #189995;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition-property: all;
    transition-duration: 650ms;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    margin: auto;
}
.nav a{
    font-size: 2.618rem;
    font-family: 'Century Gothic', sans-serif;
    font-weight: 600;
    opacity: 0.9;
    padding: 2rem;
}
.nav a:hover,
.nav a:focus{
    background: linear-gradient(to bottom, #DAF7A6, #900C3F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav.open{
    top: 0;
    border-radius: initial;
}

.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1000;
    transition-property: transform 650ms ease-out;
}
.menu.open{
    transform: rotate(-45deg);
}

.bar{
    background: linear-gradient(to right, #DAF7A6, #900C3F);
    width: 100%;
    height: 4px;
    border-radius: 0.8rem;
}
.bar.half{
    width: 50%;
}
.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.start{
    transform: rotate(-450deg) translateX(0.8rem);
}
.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.end{
    transform: rotate(-450deg) translateX(-0.8rem);
}

.header-heading{
    position: absolute;
    top: 50%;     /*position top*/
    left: 50%;    /*position left*/
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}
.header-heading h1{
    font-size: 12rem;
    font-family: 'Century Gothic', sans-serif;
    background: linear-gradient(to bottom, #DAF7A6, #900C3F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}
.header-heading h6{
    font-size: 2.618rem;
    font-weight: 300;
}
/*End header*/



/*Start about*/
.about{
    background-color: #189995;
}
.about .container{    /*one to the right is child of one to the left*/
    display: flex;    /*Flexbox layout: alignment along the x axis*/
    justify-content: center;
    align-items: center;
}

.about-img img{
    width: 85%;
    height: 85%;
    margin-right: 16.18rem;
}

.about-content{
    flex: auto;
}
.about-content li{
    margin-top: 2rem;
    margin-left: 8rem;
}

.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.about-heading h1{
    font-size: 11.326rem;
    opacity:.3;
}
.about-heading h6{
    font-size: 3.236rem;
    opacity: .3;
}

.social-media{
    margin-top: 5rem;
}
.soical-media i{
    transition: color 650ms;
}
.fa-linkedin-square:hover{
    color: #900C3F;
}
.fa-github-square:hover{
    color: #900C3F;
}
.fa-twitter-square:hover{
    color: #900C3F;
}
/*End about*/


/*Start skills*/
.skills .section-img img{
    margin-top: 2rem;
}
.skills-content{
    position: relative;
    text-align: center;
}

.skills-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill{
    width: 30rem;
    height: 48.54rem;
    margin: 2rem 5rem;
}
.skill h1{
    font-size: 2.618rem;
    opacity: 0.75;
    margin-top: 4.854rem;
}
.skill p{
    font-size: 1.618rem;
    line-height: 3.236rem;
    margin-top: 1.618rem;
}

.icon-container{
    width: 10rem;
    height: 10rem;
    border: 3px solid #B62D5B;
    background-color: #EDF5E1;
    margin: 3rem auto;
    display: flex;
    transform: rotate(45deg);

}
.icon-container i{
    color: #B62D5B;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}
/*End skills*/


/*Start experience*/
.experience{
    background-color: #189995;
}

.timeline {
    border-left: 4px solid #900C3F;
    border-radius: .8rem;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 61.85%;
}
.timeline h1{
    font-size: 2.103rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 1rem;
}
.timeline h6{
    font-size: 1.618rem;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: 0.75;
}
.timeline li{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.timeline .date{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 10rem;
    margin-bottom: 3.236rem;
    padding-bottom: 1rem;
    position: relative;
    font-weight: 300;
}
.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}
.timeline .date::before{
    content: attr(data-date);
    left: -32rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.618rem;
}
.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 4px #900C3F;
    border-radius: 100%;
    left: -16rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #EDF5E1;
}
/*End experience*/



/*Start portfolio*/
.portfolio-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.236rem;
}
.portfolio-item:last-child{
    margin-bottom: 0;
}

.portfolio-img img{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}

.portfolio-description{
}
.portfolio-description h1{
    font-size: 3.236rem;
    font-weight: 300;
    margin: 1rem 0;
}
.portfolio-description h6{
    font-size: 1.618rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.75;
}
.portfolio-description .cta{
    display: inline-block;
    margin-top: 3.236rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #B62D5B;
    transition: color 650ms;
}
.portfolio-description .cta:hover{
    color:  #EDF5E1;
}
/*End portfolio*/



/*Start contact*/
.contact{
    background-color: #189995;
}

.contact-content{
    text-align: center;
}

form{
    width: 70%;
    margin: 0 auto;
}
form label{
    font-size: 1.618rem;
}

input,
textarea{
    font-family: 'Century Gothic', sans-serif;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: #900C3F;
}
input[type="submit"]{
    width: initial;
    background-color: #900C3F;
    color: #EEEEEE;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
}
input[type="submit"]:hover{
    color: #189995;
    background-color: #900C3F;
}
/*End contact*/


/*Start reference
.reference-content{
    text-align: center;
}

.reference-list li{
    list-style: none;
    margin-bottom: 3.236rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reference-content h1{
    font-style: italic;
    font-size: 2.103rem;
    font-weight: 900;
}
.reference-content h6{
    font-size: 1.618rem;
    font-weight: 300;
    opacity: 0.75;
}
.reference-content p{
    font-size: 1.3rem;
    font-weight: 300;
}
End reference*/



/*Start footer*/
.copyright{
    width: 100%;
    text-align: center;
    background-color: #189995;
    padding: 2rem 0;
    position: relative;
}
.copyright p{
    font-size: 1.4rem;
}

.back-top{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #EEEEEE;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}
.back-top i{
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}
/*End footer*/

/*Start animations*/
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(144, 12, 63, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(144, 12, 63, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(144, 12, 63, 0);
    }
}
/*End animations*/

/*Start media query*/
@media screen and (max-width: 768px){
    body{
        background-color: hsl(178, 62%, 39%);
    }
    li{
        margin: 2rem 0;
    }

    .section-heading h1{
        font-size: 3rem;
    }
    .section-img img{
        width: 75%;
        height: 75%;
        margin-top: 10rem;
        margin-left: auto;
        margin-right: auto;
    }

    .header-heading h1{
        font-size: 12rem;
    }
    .header-heading h6{
        font-size: 1.3rem;
    }
    .nav-list{
        flex-direction: column;
    }
    .nav-link{
        font-size: 4.5rem;
    }

    .about .container{
        flex-direction: column;
    }
    .about-heading h1{
        font-size: 8rem;
    }
    .about-content .nav-list{
        flex-direction: initial;
    }
    .about-details li{
        margin: 0 2rem;
    }

    .skills-list{
        flex-direction: column;
    }
    .skill{
        width: 20rem;
        height: 32.36rem;
        margin: 2rem auto;
    }
    .icon-container{
        width: 7rem;
        height: 7rem;
    }
    .icon-container i{
        font-size: 4rem;
    }

    .timeline ul{
        margin: 0 0 0 auto;
    }
    .timeline .date::before{
        left: -30rem;
    }
    .timeline .date::after{
        left: -16rem;
    }
}

@media screen and (max-width: 600px){
    .menu{
        top: 2rem;
        right: 2rem;
    }

    .header-heading h1{
        font-size: 8rem;
    }
    .header-heading h6{
        font-size: 1.2rem;
    }
    .nav-link{
        font-size: 3.5rem;
    }

    .about-img{
        width: 75%;
        height: 75%;
        margin: 0 0 1.618rem 6.472rem;
    }
    .about-heading h1{
        font-size: 8rem;
    }
    .about-content li{
        margin-top: 1.618rem;
        margin-left: 3.236rem;
    }


    .portfolio-item{
        flex-direction: column;
    }
    .portfolio-img{
        margin: 0 0 2rem 0;
        order: 1;
    }
    .portfolio-description{
        margin: 0;
        order: 2;
    }

    .timeline{
        padding: 1rem;
        width: 70%;
    }
    .timeline p{
        font-size: 1.7rem;
    }
    .timeline .date{
        margin-left: 2rem;
    }
    .timeline .date::before{
        font-size: 1rem;
        left: -16rem;
    }
    .timeline .date::after{
        left: -3.5rem;
        height: 0.5rem;
        width: 0.5rem;
    }

    form{
        width: 100%;
    }
    .up{
        right: 2rem;
    }
}
